# Dependencies
node_modules
.pnpm-store

# Environment variables
.env
.env.local
.env.*.local

# Build output
.next
dist
dist-ssr
*.local

# Logs & scratch
*.log

# System files
.DS_Store
Thumbs.db

.vercel
test-results/*.log
